body {
  height: 500px;
  width: 500px;
  background-image: url('image/Coolwǎ.jpg');
  background-size: auto;
}
.hello {
  font-size: 32px;
  color: orange;
  background-image: url('image/test2.jpg');
}
